<div id="main">
<table>
    <tbody>
        <tr>
            <td colspan="2" class="fw-bold fst-italic">Login</td>
        </tr>
        <tr>
            <th>Username:</th>
            <td><input [(ngModel)]="username" autocomplete="username"></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input [(ngModel)]="password" type="password" autocomplete="current-password"></td>
        </tr>
        <tr>
            <td colspan="2" class="text-danger fw-bold">{{message}}&nbsp;</td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="login()" class="btn btn-primary">Login</button>
</div>
</div>