<div>
    <h3>User List</h3>

    <main>
        <a routerLink="/user/create">Create New User</a>
        <table class="table table-sn table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Lastname</th>
                    <th>Firstname</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Reviewer?</th>
                    <th>Admin?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.isReviewer ? 'Yes' : 'No'}}</td>
                    <td>{{user.isAdmin ? 'Yes' : 'No'}}</td>
                    <td>
                        <a routerLink="/user/view/{{user.id}}">View</a>
                        <span> | </span>
                        <a routerLink="/user/change/{{user.id}}">Change</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>