<div>
    <app-menu/>
    <h3>User View</h3>
    <!-- [disable] is reading the isReadonly property from the component -->
    <main>
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td><input [(ngModel)]="user.id" disabled/></td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td><input [(ngModel)]="user.lastname" [disabled]="isReadonly"/></td>
                </tr>
                <tr>
                    <td>Firstname</td>
                    <td><input [(ngModel)]="user.firstname" [disabled]="isReadonly"/></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input [(ngModel)]="user.username" [disabled]="isReadonly"/></td>
                </tr>
                <tr [hidden]="isHidden">
                    <td>Password</td>
                    <td><input [(ngModel)]="user.password" [disabled]="isReadonly"/></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input [(ngModel)]="user.phone" [disabled]="isReadonly"/></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input [(ngModel)]="user.email" [disabled]="isReadonly"/></td>
                </tr>
                <tr>
                    <td>Reviewer?</td>
                    <td><input [(ngModel)]="user.isReviewer" type="checkbox" [disabled]="isReadonly"/></td>
                </tr>
                <tr>
                    <td>Admin?</td>
                    <td><input [(ngModel)]="user.isAdmin" type="checkbox" [disabled]="isReadonly"/></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button (click)="toggleVerifyRemove()" class="btn btn-danger">Delete</button>
            <span *ngIf="verifyRemove">
                <span> | </span>
                <button (click)="remove()" class="btn btn-danger">Verify Delete</button>
            </span>
            <span> | </span>
            <a routerLink="/user/list">Go Back</a>
        </div>
    </main>
</div>
